/* navbar */

.navbar {
    background-color: gray;
    width: 100%;
    padding: 0;
}

#brand {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

.navbar-toggle {
    background-color: white;
}

#collapse-menu a{
    color: black;
    background-color: white;
    border-bottom: 1px black solid;
}

#collapse-menu {
    padding: 0px;
}

#collapse-menu ul {
    width: 100%;
    margin: 0;
    
}

/* end navbar */

/* main content */

/*
.main-content h1 {
    text-align: center;
}
*/

.main-content {
    height: 1000px;
}

.item {
    background-color: gray;
    margin: 10px 0px 10px 5px;
    padding: 0 10px 10px 10px;
}

.item-description, item-title{
    color: black;
}

.item .item-title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.item .item-description{
    
}

/* end main content */